name: My worrkflow

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Install dependencies
      working-directory: './frontend'
      run: npm install
    - name: Run linter
      working-directory: './frontend'
      run: npm run lint

