name: Construire et pousser les images Docker sur Docker Hub et mettre à jour le répertoire infra pour déclencher Argo CD

on:
  push:
    branches: [ "master" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: front
            directory: ./frontend
            image: patrice3456/chap19-front
          - name: api-node
            directory: ./node-api
            image: patrice3456/chap19-node

    steps:
    - name: Récupérer le code source
      uses: actions/checkout@v3

    - name: Obtenir le hash du dernier commit pour le tag des nouvelles images
      id: get_version
      run: echo "VERSION=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

    - name: Connexion à Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Construire et pousser l'image ${{ matrix.name }}
      uses: docker/build-push-action@v4
      with:
        context: ${{ matrix.directory }}
        file: ${{ matrix.directory }}/Dockerfile
        push: true
        tags: ${{ matrix.image }}:${{ env.VERSION }}
  update_k8s:
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
      - name: Mettre à jour les déploiements Kubernetes
        run: |
          eval $(ssh-agent -s)
          ssh-add - <<< "${{ secrets.GH_SSH_KEY }}"
          git clone git@github.com:patrice3456700/infra.git
          cd infra/k8s
          NEW_TAG=$(echo $GITHUB_SHA | cut -c1-7)
          # Mettre à jour le déploiement frontend
          sed -i "s|image: patrice3456/chap19-front:.*|image: patrice3456/chap19-front:${ NEW_TAG }|g" frontend.deployment.yaml
          # Mettre à jour le déploiement api
          sed -i "s|image: patrice3456/chap19-node:.*|image: patrice3456/chap19-node:${ NEW_TAG }|g" api.deployment.yaml
          # Ajouter les changements au commit
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"
          git add frontend.deployment.yaml api.deployment.yaml
          git commit -m "Update images to version ${ NEW_TAG }"
          git push origin master